body{
  background-color:#afddcf;
}
img{
float:right;
margin:1rem;
}
#title{
  font-size:1.5rem;
  color:#831113;
}
html{
  font-family:serif;
  font-style:italic;
}
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}